* .{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .navbar {
    background:black;
    color:whitesmoke;
  padding: 10px 10px;
  display:flex;
  justify-content:space-between;
  }
  .Logo1{
      position:absolute;
      top:10px;
      left:10px;
      width:50px;
      height:50px;
      
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin:20px;
  }
  
  
  
  .card {
    background:burlywood;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0, 0,0.1);
    width: 200px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .card h3 {
    margin: 10px 0;
  }
  
  .card button {
    background: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .card button:hover {
    background: #555;
  }






    