.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    padding: 10px;
    color: white;
  }
  
  .Product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
  }